<header>
    <nav class="navbars">
      <!-- <div class="container"> -->
        <div class="logoPart">         
            <img src="/Images/logo.png" alt="Logo" class="logo"> <h5>RMovies</h5>         
        </div>
        <div class="navList">
          <ul class="nav-links">
            <li><a class="active" href="/">Home</a></li>
            <li><a href="/allMovies">Create Review</a></li>
            <li><a href="/Signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
          </ul>
        </div>
      <div class="serchFormNav">
        <form class="d-flex" role="search" action="/searchMovie" method="POST">
          <input class="form-control me-2" name="movieName" type="text" placeholder="Search Your Movie" aria-label="Search">
          <button class="btn btn-outline-light" type="submit">Search</button>
        </form>
      </div>

    </nav>   
 
  </header>

